---
---

@import "{{ site.theme }}";

.important {
  font-weight: bold;
}

.nav-links {
  margin-left: 20%;
}

img {
  max-width: 100%;
}

.submit {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #C30000;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  height: 30px;
}