---
---

@import "{{ site.theme }}";

.important {
  font-weight: bold;
}

.nav-links {
  margin-left: 20%;
}

img {
  max-width: 100%;
}

.submit {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #C30000;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
}

.submit:hover {
  background: #610000;
}

.contact-form {
  text-align: center;
}

.input {
  border:1px solid #DADADA;
  width:310px;
  height:30px;
  box-shadow:0 0 10px;
  -webkit-box-shadow:0 0 10px;
  -moz-box-shadow:0 0 10px;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  font-size: 24;
}

.long-input {
  height:60px;
}

a.buttons {
  background: none;
}
background